<a href="https://colab.research.google.com/github/Mubashira98/table/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a= int(input("enter first number"))
# b=int(input("enter second number:"))
# print("addition:")
# sum=a+b
# print(str(sum))
# print("subtraction")
# sub=a-b
# print(str(sub))
# print("multiplication")
# mul=a*b
# print(str(mul))
# print("division")
# div=a/b
# print(str(div))

# square of a number
a=int(input("enter a number:"))
print("square of the number is:", a**2)
print("cube of the number is:", a**3)

enter a number:2
square of the number is: 4
cube of the number is: 8

In [ ]:
a=int(input("enter your age:"))
if a>=18:
  print("you are eligible for vote")
else:
  print("not eligible for vote")

enter your age:18
you are eligible for vote

In [ ]:
# list operations
list1=["apple","orange","grapes",1]
print(list1)

list1[1]="fruit"
print(list1)

list1.append("orange")
print(list1)

list1.insert(1,1)
print(list1)

list1.remove(1)
print(list1)

del list1[-2]
print(list1)

list1.pop()
print(list1)

list1.pop(0)
print(list1)

list1.clear()
print(list1)

['apple', 'orange', 'grapes', 1]
['apple', 'fruit', 'grapes', 1]
['apple', 'fruit', 'grapes', 1, 'orange']
['apple', 1, 'fruit', 'grapes', 1, 'orange']
['apple', 'fruit', 'grapes', 1, 'orange']
['apple', 'fruit', 'grapes', 'orange']
['apple', 'fruit', 'grapes']
['fruit', 'grapes']
[]

In [ ]:
# create set

set1={"apple","orange","python",1,2}
print(set1)
print(type(set1))
set1.add("intern")
print(set1)
set2={"c","mubi"}
set1.update(set2)
print(set1)
set1.remove("c")
print(set1)
set1.discard("intern")
print(set1)
x=set1.pop()
print(x)
set1.clear()
print(set1)
del set1
print(set1)

{1, 2, 'python', 'orange', 'apple'}
<class 'set'>
{1, 2, 'intern', 'python', 'orange', 'apple'}
{1, 2, 'intern', 'c', 'python', 'orange', 'apple', 'mubi'}
{1, 2, 'intern', 'python', 'orange', 'apple', 'mubi'}
{1, 2, 'python', 'orange', 'apple', 'mubi'}
1
set()

NameError: ignored

In [ ]:
set2={"mub","python","programming"}


set1={"apple","cherry"}
set3=set1.union(set2)
print(set3)

{'programming', 'mub', 'python', 'cherry', 'apple'}